@font-face {
    font-family: "Roboto";
    src: url('roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-bold";
    src: url('roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-light";
    src: url('roboto/Roboto-Light.ttf') format("truetype");
}

html {
  min-width: 1040px;
}

body {
  font-family: "Roboto", serif;
  /*margin: 1em auto 4em auto;*/
  margin: 0em 0em 0em 0em;
  overflow-x: hidden;
  white-space: nowrap;
}

footer{
  margin: 20px;
}


svg {
  font: 10px "Roboto", sans-serif;
}

#matrix{
  padding: 1em auto 4em auto;
}


.title{
  text-align: center;
  background-color: #10FFD1;
  /*width: 70%;*/
  margin: 30px 0px 30px 0px; 
  padding:3px 30px 3px 30px;
  font: 30px "Roboto-light";
  color:white;
  letter-spacing: 4px;
  display:inline-block;
}

#emp{
  color: #4A4CFF;
  font: 30px "Roboto";

}

#right{
  display:inline-block;
  margin-left: -100px;
  /*position: fixed;*/
}

#left{
  display:inline-block;
  /*position:fixed;*/
}

#middle{
  display:inline-block;
  margin-left:-30px;
  font-size: 10px;
}


.colLabel{
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  white-space: normal;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
  stroke-width:3px;
}

#axis0 line,
#axis0 path {
  stroke: #fff;
}

.axis text {
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
  cursor: move;
}

.axis_label{
  font-size: 15px;
  padding-bottom: 20px;
  display:inline-block;
  text-align: center;
}

#axis_label_div{
  margin-bottom:-20px;
}

.title_accent{
  background-color: #ACFF21;
  display: inline-block;
  font: 30px "Roboto-light";
  color:#ACFF21;
  padding:3px;
}