@font-face {
    font-family: "Roboto";
    src: url('roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-bold";
    src: url('roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-light";
    src: url('roboto/Roboto-Light.ttf') format("truetype");
}

html {
  min-width: 1040px;
}

body {
  font-family: "Roboto", serif;
  /*margin: 1em auto 4em auto;*/
  margin: 0em 0em 0em 0em;
}


svg {
  font: 10px "Roboto", sans-serif;
}

#matrix{
  padding: 1em auto 4em auto;
}


.title{
  text-align: center;
  background-color: #10FFD1;
  width: 100%;
  margin: 30px 0px 30px 0px; 
  padding:5px;
  font: 30px "Roboto-light";
  color:white;
}

#emp{
  color: #4A4CFF;
  font: 30px "Roboto";

}

#right{
  margin-left: 100px;
}


.colLabel{
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}
