@font-face {
    font-family: "Roboto";
    src: url('roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-bold";
    src: url('roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-light";
    src: url('roboto/Roboto-Light.ttf') format("truetype");
}

html {
  min-width: 1040px;
}

body {
  font-family: "Roboto", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 960px;
}


svg {
  font: 10px "Roboto", sans-serif;
}

.colLabel{
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}
